@use "../presets/" as *;

.experience{
    background-color: $color-primary;
    padding: 100px 0 96px;

    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 45px;
    }

    &-item{
        display: flex;
        gap: $gap;
        &__description{
            p{
                color: $color-white;
            }
        }
        &__description{
            display: flex;
            flex-direction: column;
            gap: 7px;
        }
        &__number{
            font-size: 1.2rem;
            font-weight: 500;
        }
        &__image {
            order: -1;
        }
    }
}
