:root{
    --color-black: #000;
    --color-grey: #EEEFF1;
    --color-paragraph: #727272;
    --color-white: #FFF;
    --color-primary: #34547A;
    --color-light: #f9f9f9;

    --font-size: 16px;
    --font-family: 'Roboto', sans-serif;
    --line-height: 1.25;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: var(--font-size);
    font-family: var(--font-family);
    line-height: var(--line-height);
}

a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
}

li{
    list-style: none;
}

.container{
    width: calc(100% - 802px);
    margin: 0 auto;
}

.header{
    padding: 79px 0 141px 0;
    background-color: var(--color-grey);
}

.header nav{
    margin-bottom: 30px;
}

.header nav ul{
    display: flex;
    gap: 15px;
}

.content__title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 35px;
    margin-top: 170px;
}

.content .content__description{
    color: var(--color-paragraph);
    margin-bottom: 62px;
}

.content__link {
    min-width: 225px;
    min-height: 65px;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 1em;
}

.about{
    padding-top: 112px;
    padding-bottom: 90px;
    background-color: var(--color-light);
}

.about .about__title{
    text-align: center;
    font-weight: 500;
    margin-bottom: 39px;
}

.about .about__description{
    text-align: center;
    color: var(--color-paragraph);
}

.expirience{
    background-color: var(--color-primary);
}