:root {
  --color-black: #000000;
  --color-grey: #eeeff1;
  --color-light: #f9f9f9;
  --color-paragraph: #727272;
  --color-primary: #34547a;
  --color-white: #ffffff;
  --container-primary: 1110px;
  --font-family: "Roboto", sans-serif;
  --font-size: 16px;
  --gap: 20px;
  --gap-lg: calc(var(--gap) * 2);
  --gap-sm: calc(var(--gap) / 2);
  --letter-spacing: 0.1em;
  --line-height: 1.2;
  --line-height-lg: 1.64;
  --video-size-sm: 175px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);

  scroll-behavior: smooth;
}

a {
  cursor: pointer;
  text-decoration: none;

  color: var(--color-black);
}

li {
  list-style: none;
}

.container {
  width: min(100% - var(--gap-lg), var(--container-primary));

  margin-inline: auto;
}

.container--sm {
  width: min(100% - var(--gap-lg), 540px);
}

.header {
  padding: 79px 0 141px 0;

  background-color: var(--color-grey);
}

.header .navbar {
  margin-bottom: 116px;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: 40px;
}

.navbar__link {
  padding: var(--gap-sm) 3px var(--gap-sm) 0;

  letter-spacing: 0.1em;
  letter-spacing: var(--letter-spacing);
}

.navbar__link:hover {
  color: var(--color-primary);
}

.navbar__link--custom {
  color: var(--color-primary);

  font-weight: 500;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  max-width: 540px;
}

.content__title {
  margin-bottom: 35px;

  font-size: 3rem;
  font-weight: 500;
  line-height: var(--line-height-lg);
}

.content .content__description {
  margin-bottom: 55px;

  color: var(--color-paragraph);

  line-height: var(--line-height-lg);
}

.content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  min-width: 225px;
  min-height: 65px;
  padding: 0.5em;

  letter-spacing: var(--letter-spacing);

  color: var(--color-white);
  background-color: var(--color-primary);
}

.about {
  padding-top: 112px;
  padding-bottom: 90px;

  background-color: var(--color-light);
}

.about .about__title {
  margin-bottom: 39px;

  text-align: center;

  font-size: 2rem;
  font-weight: 500;
}

.about .about__description {
  text-align: center;

  color: var(--color-paragraph);

  line-height: 1.5;
}

.experience {
  padding: 100px 0 96px;

  background-color: var(--color-primary);
}

.experience__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;

  gap: 45px;
}

.experience-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: var(--gap);
}

.experience-item__description p {
  color: var(--color-white);
}

.experience-item__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  gap: 7px;
}

.experience-item .experience-item__description .experience-item__number {
  font-size: 1.2rem;
  font-weight: 500;
}

.experience-item__image {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.process {
  padding-top: 112px;

  background-color: var(--color-gray);
}

.process__title {
  margin-bottom: 39px;

  text-align: center;

  color: var(--color-black);

  font-size: 2rem;
  font-weight: 500;
}

.process__description {
  margin-bottom: 57px;

  text-align: center;

  color: var(--color-paragraph);

  line-height: var(--line-height-lg);
}

.process__video {
  padding-bottom: 100px;
}

.footer {
  padding: 48px;

  background-color: var(--color-primary);
}

.footer__name {
  margin-bottom: 20px;

  color: var(--color-white);

  font-size: 1.3125rem;
  font-weight: 500;
}

.footer__copyright {
  color: var(--color-white);

  font-size: 0.8125rem;
}

.video {
  width: 100%;
  height: 600px;

  border: 0;
}

@media (max-width: 1121px) {
  .experience-container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .video {
    height: calc(var(--video-size-sm) * 2.5);
  }
}

@media (max-width: 769px) {
  .header nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .experience-container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .video {
    height: calc(var(--video-size-sm) * 2);
  }
}

@media (max-width: 426px) {
  .header nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content__title {
    font-size: 2.5rem;
  }
  .navbar__link {
    padding: 5px 3px 5px 0;
  }
  .video {
    height: calc(var(--video-size-sm) * 1.5);
  }
}

@media (max-width: 376px) {
  .container {
    width: min(100% - 100px, var(--container-primary));

    margin-inline: auto;
  }
  .header nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content__title {
    font-size: 2rem;
  }
  .content__link {
    padding: 1.3em 2.7em;
  }
  .experience-container {
    gap: var(--gap);
  }
  .video {
    height: var(--video-size-sm);
  }
}
